@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


.video-back-wrap {
	position: relative;
	width: 100%; 
  	height: 100%;

  	h1 {
		margin:10vh 0 0 100px;
		font-size: 7.4em;
		font-weight:bold;
		color: rgba(255, 255, 255, 0.7);
		letter-spacing:-0.02em;
		text-shadow:0 3px 4px rgba(0,0,0,0.16);
		z-index:100;
	}

	h3 {
		margin:4vh 0 0 100px;
		font-size: 2em;
		line-height: 1em;
		font-style:italic;
		color: rgba(225, 225, 225, 0.8);
		text-shadow:0 2px 3px rgba(0,0,0,0.14);
		z-index:100;
	}

	.callouts {
		margin:200px auto 40px;
	}



}

#video-background {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:50%;
	top:50%;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: -100;
    transform: translateX(-50%) translateY(-50%);

}



*:before,
*:after {
  z-index: -1;
}

.btn-1 {
	line-height:60px;
	box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
	text-align:center;
  color: #ff8800;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  max-width: 250px;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  border: 2px solid #ff8800;
}
.btn-1:after {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
    -webkit-transition: 0.5s;
  transition: 0.5s;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: #ff8800 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.btn-1:hover {
  color: #fff;
}
.btn-1:hover:after {
  border-width: 330px 330px 0 0;
}
.btn-1:active {
  background: #ff8800;
}




