
.video-back-wrap {
	position: relative;
	width: 100%; 
  	height: 94%;

  	h1 {
  		font-family: "jaf-facitweb",sans-serif;
		margin:10vh 0 0 70px;
		font-size: 7.4em;
		font-weight:bold;
		color: rgba(255, 255, 255, 0.7);
		letter-spacing:-0.02em;
		text-shadow:0 3px 4px rgba(0,0,0,0.16);
		z-index:100;
		opacity:0;
	}

	h3 {
		font-family: "aaux-next",sans-serif;
		margin:4vh 0 0 70px;
		font-size: 2em;
		line-height: 1em;
		font-style:italic;
		color: rgba(225, 225, 225, 0.8);
		text-shadow:0 2px 3px rgba(0,0,0,0.14);
		z-index:100;
		opacity:0;
	}

	.cover-buttons {
		opacity: 0;
		margin:20vh auto 10px;
	}



}

#video-background {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:50%;
	top:50%;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto;
	z-index: -100;
    transform: translateX(-50%) translateY(-50%);

}



*:before,
*:after {
  z-index: -1;
}

.btn-1 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:17px;
	line-height:56px;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-align:center;
    color: #ffd199;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    max-width: 250px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    border: 2px solid #ffd199;
}
.btn-1:after {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
    -webkit-transition: 0.3s;
  transition: 0.3s;
  border-style: solid;
  border-width: 12px 12px 0 0;
  border-color: #ffd199 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.btn-1:hover {
  color: #5f8692;
}
.btn-1:hover:after {
  border-width: 288px 288px 0 0;
}
.btn-1:active {
  background: #ffd199;
}

.downarrow {
	margin-top:9vh;

	a {
		text-align:center;
		color: rgba(255,255,255,0.6);
	}
}

.svgDownArrow {
	display:table;
	margin:0 auto;
	width:48px;
	height:40px;
	color:#f6f6f6;
}



