
.cover-back-wrap {

	width: 100%; 
  	height: 94vh;
  		background: url('../../assets/img/stadium-background.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: relative;
	z-index: 0;

}

.fb-player {
	position:absolute;
	  		width:60vh;
	  		height:74vh;
	  		margin:24vh 0 0 52vw;
	  		z-index: 0;

	  		img {
	  			height:73vh;
	  			z-index: 0;
	  		}
}

.cover-head-title-position {margin:10vh 0 0; width:100%;}

  	#cover-header {
  		font-family: "Myriad Pro", sans-serif;
  		font-weight: bold;
		float:left;
		padding-left:2vw;
		font-size: 6.5vw;
		color: #81bc00;
		letter-spacing:-0.02em;
		text-shadow:0 2px 6px rgba(0,0,0,0.3);
		z-index:100;
		opacity:0;

		span {font-weight:normal;}
	}

	#cover-name-detail {
		position: absolute;
		font-family: "MYRIADPRO-CONDIT", "myriad-pro-condensed", sans serif;
		font-style: italic;
		font-size: 3.8vw;
		float:left;
		margin:2vw 0 0 26vw;
		padding:0.8vw 30px 0 80px;
		line-height: 3.9vw;
		border-top-right-radius:6px;
		border-bottom-right-radius:6px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjdkZjVlIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjYjdkZjVlIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjYjdkZjVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjYjdkZjVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FmZGE1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(-45deg,  rgba(183,223,94,0) 0%, rgba(183,223,94,0) 10%, rgba(183,223,94,1) 27%, rgba(183,223,94,1) 51%, rgba(175,218,83,1) 100%);
		background: -webkit-linear-gradient(-45deg,  rgba(183,223,94,0) 0%,rgba(183,223,94,0) 10%,rgba(183,223,94,1) 27%,rgba(183,223,94,1) 51%,rgba(175,218,83,1) 100%);
		background: linear-gradient(135deg,  rgba(183,223,94,0) 0%,rgba(183,223,94,0) 10%,rgba(183,223,94,1) 27%,rgba(183,223,94,1) 51%,rgba(175,218,83,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7df5e', endColorstr='#afda53',GradientType=1 );

	}

	h3 {
		font-family: "MYRIADPRO-COND", "myriad-pro-condensed", sans serif;
					//	font-family: "MYRIADPRO-BOLDCOND", "myriad-pro-condensed", sans-serif;
	//font-family: "Myriad Pro", sans-serif;

		margin:6vh 0 0;
		padding-left:6vw;
		font-size: 4.6vh;
		line-height: 1.2em;
		color: #fff;
		text-shadow:0 2px 3px rgba(0,0,0,0.4);
		z-index:100;
		opacity:0;

		i {font-family: "MYRIADPRO-CONDIT", "myriad-pro-condensed", sans serif; font-style:italic;}
	}


	.targetPlug {
		margin:9.5vh 0 0 6vw;
		color:#fff;

		img {height:56px; float:right;}

		p {font-size:20px; line-height:24px; font-style:italic; text-shadow:0 1px 2px #333; margin-top:6px;}

	}

	.cover-buttons {
		opacity: 0;
		margin:23vh auto 10px;
	}





.menu-toggle {width:30px; height: 30px; color:#e6e6e7; fill:#e6e6e7; stroke:#e6e6e7; position:fixed; top:20px; right:30px;}



*:before,
*:after {
  z-index: -1;
}

.btn-1 {
	font-family: "jaf-facitweb",sans-serif;
	font-size:17px;
	line-height:56px;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-align:center;
    color: #ffd199;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    max-width: 250px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    border: 2px solid #ffd199;
}
.btn-1:after {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
    -webkit-transition: 0.3s;
  transition: 0.3s;
  border-style: solid;
  border-width: 12px 12px 0 0;
  border-color: #ffd199 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.btn-1:hover {
  color: #5f8692;
}
.btn-1:hover:after {
  border-width: 288px 288px 0 0;
}
.btn-1:active {
  background: #ffd199;
}






