
.top-bar {position: fixed; top:0; width:100%; background:rgba(255,255,255,0.96); padding:0; border-bottom: 0.5px solid rgba(0,0,0,0.25); z-index:9999;}

.menu-icon.dark {color:#414042; margin:16px 2vw 0 0;}
.topTitle { margin:4px 0 1px 5vw; color:#231f20; font-size:28px; font-weight:bold; letter-spacing:-0.02em;}
.topTitle-second {font-weight:normal; font-size:24px; margin:12px 2px 0 0; font-family: "MYRIADPRO-CONDIT", "myriad-pro-condensed", sans serif; letter-spacing:0.01em;
}
.menu-icon-custom {
	color:#504f52; 
	float:left;
	margin:13px 3px 0 0;

	span {margin:3px 5px 0 0;float:left;}

	svg {width:29px; margin:0 2.4vw 0 5px;}
}

.menu-icon-custom:hover,
.menu-icon-custom:active {color:#111}
.menu-icon-custom:hover .st-color {fill:#000;}



.off-canvas-wrapper-inner, .off-canvas-wrapper {transition: transform 500ms ease;}






	h2.sectionHead {
		font-family: "Myriad Pro", sans-serif;
  		font-weight: bold;
  		font-style: italic;
  		letter-spacing:-0.025em;
  		color: #81bc00;
  		text-align: center;
  		width:400px;
  		margin:-32px auto 40px;
  		padding:4px 20px 0;
  		background-color: #f6f6f6;
	}

	.topline {border-top:solid 0.5px #333; margin-top:70px;}

	h2.sectionHead.white {background-color:#fff;}
	h2.sectionHead.devBy {
		width:500px;
		span {
			font-weight: normal;
		}
	}

	.references {
		width:100%; 
		padding:24px;
		position: relative;

		.ref-container {position:relative; width:770px; margin:10px auto;}

		p {font-size:13.5px; line-height:15.5px; margin:8px 0 0;}


	}

	footer {width:100%; background:#4a585c; height:50px; text-align:center; color:#fff; line-height:50px;}


