{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABRx Panel by Diatherix</title>

    <!--
    <script type="text/javascript" src="//use.typekit.net/fbr3xww.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->

<script src="https://use.typekit.net/uvm7xxh.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>



    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    

<style type="text/css">
  .is-open-right {
      -ms-transform: translateX(-250px);
      -webkit-transform: -webkit-translateX(-250px);
      -webkit-transform: translateX(-250px);
          transform: translateX(-250px); 
      }
</style>

    <script src="{{root}}assets/js/app.js"></script>
<script>
      $(document).foundation();
    </script>
    <script type="text/javascript">


      $(document).ready(function(){

        $(".menuClose").click(function(){
          $(".off-canvas-wrapper-inner").removeClass("is-open-right");
          $(".off-canvas-wrapper-inner").removeClass("is-off-canvas-open");
          $(".off-canvas").removeClass("is-open");
          $(".js-off-canvas-exit").removeClass("is-visible");
          $(".js-off-canvas-exit").removeClass("js-off-canvas-exit");
        });
      });

/*
      window.onload = function() {



        TweenMax.to("#cover-header", 0.8, {opacity:1, marginLeft:"100px", delay:0.3, ease:Power2.easeOut});
        TweenMax.to("#cover-subhead", 0.8, {opacity:1, marginLeft:"100px", delay:0.4, ease:Power2.easeOut});
        TweenMax.staggerTo(".cover-buttons", 0.8, {opacity:1, marginLeft:"40px", delay:0.6, ease:Power2.easeOut});
        TweenMax.fromTo(".svgDownArrow", 0.7, {bottom:"10%"}, {bottom:"9%", ease:Power1.easeInOut, repeat:-1, delay:7, yoyo:true});

      };
*/
    </script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85046617-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>