{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <script src="https://use.typekit.net/ort6xxg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}


    <script src="{{root}}assets/js/TweenMax.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>

    <script type="text/javascript">

      window.onload = function() {

        TweenMax.to("#cover-header", 0.8, {opacity:1, marginLeft:"100px", delay:0.3, ease:Power2.easeOut});
        TweenMax.to("#cover-subhead", 0.8, {opacity:1, marginLeft:"100px", delay:0.4, ease:Power2.easeOut});
        TweenMax.staggerTo(".cover-buttons", 0.8, {opacity:1, marginLeft:"40px", delay:0.6, ease:Power2.easeOut});
        TweenMax.fromTo(".svgDownArrow", 0.7, {marginTop:0}, {marginTop:"10px", ease:Power1.easeInOut, repeat:-1, yoyo:true});

      };

    </script>

  </body>
</html>